<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="projectBox(project)"
     onclick="openProjectDetail(this)"
     class="project-box"
     th:classappend="${project.priority == 'Green' ? 'priority-green' : (project.priority == 'Yellow' ? 'priority-yellow' : 'priority-red')}"
     th:data-id="${project.id}"
     th:data-title="${project.title}"
     th:data-name="${project.name}"
     th:data-date="${project.date}"
     th:data-caldera="${project.caldera}"
     th:data-warranty="${project.warranty}"
     th:data-ssn="${project.ssn}"
     th:data-phone="${project.phoneNum}"
     th:data-address="${project.address}"
     th:data-email="${project.email}"
     th:data-hours="${project.hours}"
     th:data-due-date="${project.estDueDate}"
     th:data-description="${project.description}"
     th:data-status="${project.status}"
     th:data-postcode="${project.postCode}"
     th:attr="draggable=${project.status != 'allProjects'}">

<h3 th:text="${project.title}">Task Title</h3>
    <p><strong>Customer:</strong> <span th:text="${project.name}">Name</span></p>
    <p><strong>Phone:</strong> <span th:text="${project.phoneNum}">Phone</span></p>
    <p><strong>Date created:</strong> <span th:text="${project.date}">Creation date</span></p>
    <p><strong>Due date:</strong> <span th:text="${project.estDueDate}">Due Date</span></p>
    <p><strong>Postcode:</strong> <span th:text="${project.postCode}">Post code</span></p>
</div>

</body>
</html>
