<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>Create New User</h2>

<form th:action="@{users/create}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </div>

    <div>
        <label for="role">Choose a Role:</label>
            <select id="role" name="role">
                <option value="ADMIN">Admin</option>
                <option value="PM">Project Manager</option>
            </select >
    </div>

    <button type="submit">Create User</button>
</form>

<!-- <table>
    <tr><th>ID</th><th>Name</th></tr>
    <tr th:each="user : ${user}">
        <td th:text="${appuser.id}"></td>
        <td th:text="${appuser.name}"></td>
    </tr>
</table>



</body>
</html>